In [26]:
import pandas as pd

data_folder="/data/tables"

In [27]:
"""
tables = pd.read_json('tables.json')
tables_unique = tables.drop_duplicates()
tables_unique.to_json('tables_unique.json', index=False)
"""

"\ntables = pd.read_json('tables.json')\ntables_unique = tables.drop_duplicates()\ntables_unique.to_json('tables_unique.json', index=False)\n"

In [28]:
tables_unique = pd.read_json('tables_unique.json')

In [38]:
len(tables_unique)

12179

In [29]:
import sqlite3

import buckaroo

con = sqlite3.connect('tables_data.db')

In [30]:
cur = con.cursor()

cur.executescript("""
-- DROP TABLE IF EXISTS processed;
CREATE TABLE IF NOT EXISTS processed (
  table_id TEXT,
  message TEXT
);

/*
Maps unique dguids to which tables they are found in
*/
-- DROP TABLE IF EXISTS dguid_table_id;
CREATE TABLE IF NOT EXISTS dguid_table_id (
  dguid TEXT,
  table_id TEXT
);
""")

con.commit()

In [34]:
import time
import aria2p

# initialization, these are the default values
aria2 = aria2p.API(
    aria2p.Client(
        host="http://localhost",
        port=6800,
        secret=""
    )
)

# Helper function to wait for download to finish
def wait_for_download(download):
    while download.is_active:
        print(f"Progress: {download.progress_string()} - {download.status}")
        time.sleep(10)
        download = aria2.get_download(download.gid)  # refresh state
    print(f"Download completed: {download.name} - Status: {download.status}")
    return download

In [35]:
import os
import json
import re
import requests

def parse_table(table):
    parsed_table = re.sub(r"\D", "", table)[:8]
    return parsed_table

def download_table(table_id):
    print(f"Input table_id {table_id}")
    table_id = parse_table(table_id)
    if len(table_id) == 8:
        print(f"Getting metadata for {table_id}")
    else:
        print(f"productId: {table_id} not length 8")
        return

    metadata_path = f"{data_folder}/{table_id}.json"
    if os.path.exists(metadata_path):
        print(f"Metadata and data for {table_id} already exists")
        return
        
    # Write the metadata to a JSON file
    url = f"https://www150.statcan.gc.ca/t1/wds/rest/getCubeMetadata"
    payload = [{"productId": table_id}]
    response = requests.post(url, json=payload)
    
    if response.status_code == 200:    
        # It can still be a failed search even if it is status_code 200
        response_dict = response.json()[0]

        status = response_dict.get("status")
        if status:
            status_message = response_dict.get("object")
            if status == "FAILED":
                print(status_message)
                return
        
        #if os.path.exists(metadata_path):
        with open(metadata_path, "w") as metadata_fp:
            json.dump(response_dict, metadata_fp)
    else:
        print(f"Failed to request. Status code: {response.status_code}")
        return

    url = f"https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/{table_id}/en"
    print(f"Getting the download url for {table_id}")
    response_dict = requests.get(url).json()
    status = response_dict.get("status")
    if status:
        status_message = response_dict.get("object")
        
    print(f"Downloading {status_message} to {data_folder}/{table_id}.zip")
    urls = [status_message]
    download = aria2.add_uris(urls, options={"out": f"{table_id}.zip"})
    download = wait_for_download(download)
    """
    response = requests.get(status_message, stream=True, headers={"user-agent": None})
    with open(f"{data_folder}/{table_id}.zip", "wb") as f:
        for chunk in response.iter_content(chunk_size=512):
            if chunk:
                f.write(chunk)
    """

    return table_id

In [36]:
import zipfile

def process_table(table_id):
    table_path = f"{data_folder}/{table_id}.zip"
    csv_file = f"{table_id}.csv"
    print(f"Processing {table_path}")
    with zipfile.ZipFile(table_path) as myzip:
        with myzip.open(csv_file) as myfile:
            col_names = pd.read_csv(myfile, nrows=0).columns

        # reopen the file or it misses the first row
        with myzip.open(csv_file) as myfile:
            #types_dict = {"VALUE": float}
            #types_dict.update({col: str for col in col_names if col not in types_dict})
            #df = pd.read_csv(myfile, usecols=["DGUID"], dtype=types_dict)
            df = pd.read_csv(myfile, usecols=["DGUID"]).drop_duplicates()

    
    universe_path = f"{data_folder}/universe/{table_id}.parquet"
    print(f"Wrote to {universe_path}")
    df.to_parquet(universe_path, compression="zstd", index=False)

In [37]:
for record in tables_unique.to_records():
    index, table_id = record
    download_table(table_id)

Input table_id 33-10-0036-01
Getting metadata for 33100036
Metadata and data for 33100036 already exists
Input table_id 13-10-0946-01
Getting metadata for 13100946
Metadata and data for 13100946 already exists
Input table_id 13-10-0959-01
Getting metadata for 13100959
Metadata and data for 13100959 already exists
Input table_id 13-10-0960-01
Getting metadata for 13100960
Metadata and data for 13100960 already exists
Input table_id 23-10-0287-01
Getting metadata for 23100287
Metadata and data for 23100287 already exists
Input table_id 10-10-0139-01
Getting metadata for 10100139
Metadata and data for 10100139 already exists
Input table_id 10-10-0141-01
Getting metadata for 10100141
Metadata and data for 10100141 already exists
Input table_id 11-10-0084-01
Getting metadata for 11100084
Metadata and data for 11100084 already exists
Input table_id 11-10-0085-01
Getting metadata for 11100085
Metadata and data for 11100085 already exists
Input table_id 11-10-0086-01
Getting metadata for 11100086
Metadata and data for 11100086 already exists
Input table_id 34-10-0292-01
Getting metadata for 34100292
Metadata and data for 34100292 already exists
Input table_id 34-10-0292-02
Getting metadata for 34100292
Metadata and data for 34100292 already exists
Input table_id 36-10-0038-01
Getting metadata for 36100038
Metadata and data for 36100038 already exists
Input table_id 36-10-0039-01
Getting metadata for 36100039
Metadata and data for 36100039 already exists
Input table_id 36-10-0412-01
Getting metadata for 36100412
Metadata and data for 36100412 already exists
Input table_id 36-10-0443-01
Getting metadata for 36100443
Metadata and data for 36100443 already exists
Input table_id 36-10-0446-01
Getting metadata for 36100446
Metadata and data for 36100446 already exists
Input table_id 36-10-0454-01
Getting metadata for 36100454
Metadata and data for 36100454 already exists
Input table_id 36-10-0469-01
Getting metadata for 36100469
Metadata and data for 36100469 already exists
Input table_id 36-10-0474-01
Getting metadata for 36100474
Metadata and data for 36100474 already exists
Input table_id 36-10-0485-01
Getting metadata for 36100485
Metadata and data for 36100485 already exists
Input table_id 36-10-0593-01
Getting metadata for 36100593
Metadata and data for 36100593 already exists
Input table_id 32-10-0480-01
Getting metadata for 32100480
Metadata and data for 32100480 already exists
Input table_id 32-10-0481-01
Getting metadata for 32100481
Metadata and data for 32100481 already exists
Input table_id 32-10-0482-01
Getting metadata for 32100482
Metadata and data for 32100482 already exists
Input table_id 32-10-0483-01
Getting metadata for 32100483
Metadata and data for 32100483 already exists
Input table_id 32-10-0484-01
Getting metadata for 32100484
Metadata and data for 32100484 already exists
Input table_id 32-10-0485-01
Getting metadata for 32100485
Metadata and data for 32100485 already exists
Input table_id 18-10-0204-01
Getting metadata for 18100204
Metadata and data for 18100204 already exists
Input table_id 18-10-0204-02
Getting metadata for 18100204
Metadata and data for 18100204 already exists
Input table_id 24-10-0056-01
Getting metadata for 24100056
Metadata and data for 24100056 already exists
Input table_id 24-10-0057-01
Getting metadata for 24100057
Metadata and data for 24100057 already exists
Input table_id 24-10-0058-01
Getting metadata for 24100058
Metadata and data for 24100058 already exists
Input table_id 24-10-0059-01
Getting metadata for 24100059
Metadata and data for 24100059 already exists
Input table_id 32-10-0077-01
Getting metadata for 32100077
Metadata and data for 32100077 already exists
Input table_id 32-10-0110-01
Getting metadata for 32100110
Metadata and data for 32100110 already exists
Input table_id 32-10-0113-01
Getting metadata for 32100113
Metadata and data for 32100113 already exists
Input table_id 32-10-0132-01
Getting metadata for 32100132
Metadata and data for 32100132 already exists
Input table_id 10-10-0135-01
Getting metadata for 10100135
Metadata and data for 10100135 already exists
Input table_id 10-10-0136-01
Getting metadata for 10100136
Metadata and data for 10100136 already exists
Input table_id 10-10-0158-01
Getting metadata for 10100158
Metadata and data for 10100158 already exists
Input table_id 23-10-0001-01
Getting metadata for 23100001
Metadata and data for 23100001 already exists
Input table_id 23-10-0073-01
Getting metadata for 23100073
Metadata and data for 23100073 already exists
Input table_id 23-10-0268-01
Getting metadata for 23100268
Metadata and data for 23100268 already exists
Input table_id 23-10-0272-01
Getting metadata for 23100272
Metadata and data for 23100272 already exists
Input table_id 36-10-0042-01
Getting metadata for 36100042
Metadata and data for 36100042 already exists
Input table_id 36-10-0430-01
Getting metadata for 36100430
Metadata and data for 36100430 already exists
Input table_id 36-10-0431-01
Getting metadata for 36100431
Metadata and data for 36100431 already exists
Input table_id 36-10-0491-01
Getting metadata for 36100491
Metadata and data for 36100491 already exists
Input table_id 38-10-0011-01
Getting metadata for 38100011
Metadata and data for 38100011 already exists
Input table_id 38-10-0015-01
Getting metadata for 38100015
Metadata and data for 38100015 already exists
Input table_id 38-10-0016-01
Getting metadata for 38100016
Metadata and data for 38100016 already exists
Input table_id 38-10-0086-01
Getting metadata for 38100086
Metadata and data for 38100086 already exists
Input table_id 38-10-0144-01
Getting metadata for 38100144
Metadata and data for 38100144 already exists
Input table_id 38-10-0144-02
Getting metadata for 38100144
Metadata and data for 38100144 already exists
Input table_id 38-10-0144-03
Getting metadata for 38100144
Metadata and data for 38100144 already exists
Input table_id 38-10-0154-01
Getting metadata for 38100154
Metadata and data for 38100154 already exists
Input table_id 38-10-0156-01
Getting metadata for 38100156
Metadata and data for 38100156 already exists
Input table_id 38-10-0184-01
Getting metadata for 38100184
Metadata and data for 38100184 already exists
Input table_id 38-10-0185-01
Getting metadata for 38100185
Metadata and data for 38100185 already exists
Input table_id 38-10-0186-01
Getting metadata for 38100186
Metadata and data for 38100186 already exists
Input table_id 38-10-0281-01
Getting metadata for 38100281
Metadata and data for 38100281 already exists
Input table_id 14-10-0017-01
Getting metadata for 14100017
Metadata and data for 14100017 already exists
Input table_id 14-10-0017-02
Getting metadata for 14100017
Metadata and data for 14100017 already exists
Input table_id 14-10-0019-01
Getting metadata for 14100019
Metadata and data for 14100019 already exists
Input table_id 14-10-0021-01
Getting metadata for 14100021
Metadata and data for 14100021 already exists
Input table_id 14-10-0022-01
Getting metadata for 14100022
Metadata and data for 14100022 already exists
Input table_id 14-10-0026-01
Getting metadata for 14100026
Metadata and data for 14100026 already exists
Input table_id 14-10-0028-01
Getting metadata for 14100028
Metadata and data for 14100028 already exists
Input table_id 14-10-0030-01
Getting metadata for 14100030
Metadata and data for 14100030 already exists
Input table_id 14-10-0032-01
Getting metadata for 14100032
Metadata and data for 14100032 already exists
Input table_id 14-10-0034-01
Getting metadata for 14100034
Metadata and data for 14100034 already exists
Input table_id 14-10-0036-01
Getting metadata for 14100036
Metadata and data for 14100036 already exists
Input table_id 14-10-0042-01
Getting metadata for 14100042
Metadata and data for 14100042 already exists
Input table_id 14-10-0045-01
Getting metadata for 14100045
Metadata and data for 14100045 already exists
Input table_id 14-10-0048-01
Getting metadata for 14100048
Metadata and data for 14100048 already exists
Input table_id 14-10-0048-02
Getting metadata for 14100048
Metadata and data for 14100048 already exists
Input table_id 14-10-0050-01
Getting metadata for 14100050
Metadata and data for 14100050 already exists
Input table_id 14-10-0054-01
Getting metadata for 14100054
Metadata and data for 14100054 already exists
Input table_id 14-10-0058-01
Getting metadata for 14100058
Metadata and data for 14100058 already exists
Input table_id 14-10-0063-01
Getting metadata for 14100063
Metadata and data for 14100063 already exists
Input table_id 14-10-0065-01
Getting metadata for 14100065
Metadata and data for 14100065 already exists
Input table_id 14-10-0067-01
Getting metadata for 14100067
Metadata and data for 14100067 already exists
Input table_id 14-10-0069-01
Getting metadata for 14100069
Metadata and data for 14100069 already exists
Input table_id 14-10-0071-01
Getting metadata for 14100071
Metadata and data for 14100071 already exists
Input table_id 14-10-0075-01
Getting metadata for 14100075
Metadata and data for 14100075 already exists
Input table_id 14-10-0077-01
Getting metadata for 14100077
Metadata and data for 14100077 already exists
Input table_id 14-10-0086-01
Getting metadata for 14100086
Metadata and data for 14100086 already exists
Input table_id 14-10-0109-01
Getting metadata for 14100109
Metadata and data for 14100109 already exists
Input table_id 14-10-0117-01
Getting metadata for 14100117
Metadata and data for 14100117 already exists
Input table_id 14-10-0121-01
Getting metadata for 14100121
Metadata and data for 14100121 already exists
Input table_id 14-10-0123-01
Getting metadata for 14100123
Metadata and data for 14100123 already exists
Input table_id 14-10-0125-01
Getting metadata for 14100125
Metadata and data for 14100125 already exists
Input table_id 14-10-0127-01
Getting metadata for 14100127
Metadata and data for 14100127 already exists
Input table_id 14-10-0286-01
Getting metadata for 14100286
Metadata and data for 14100286 already exists
Input table_id 14-10-0286-02
Getting metadata for 14100286
Metadata and data for 14100286 already exists
Input table_id 14-10-0286-03
Getting metadata for 14100286
Metadata and data for 14100286 already exists
Input table_id 14-10-0287-01
Getting metadata for 14100287
Metadata and data for 14100287 already exists
Input table_id 14-10-0287-02
Getting metadata for 14100287
Metadata and data for 14100287 already exists
Input table_id 14-10-0287-03
Getting metadata for 14100287
Metadata and data for 14100287 already exists
Input table_id 13-609-X
productId: 13609 not length 8
Input table_id 14-10-0288-01
Getting metadata for 14100288
Metadata and data for 14100288 already exists
Input table_id 14-10-0288-02
Getting metadata for 14100288
Metadata and data for 14100288 already exists
Input table_id 14-10-0289-01
Getting metadata for 14100289
Metadata and data for 14100289 already exists
Input table_id 14-10-0289-02
Getting metadata for 14100289
Metadata and data for 14100289 already exists
Input table_id 14-10-0291-01
Getting metadata for 14100291
Metadata and data for 14100291 already exists
Input table_id 14-10-0291-02
Getting metadata for 14100291
Metadata and data for 14100291 already exists
Input table_id 14-10-0292-01
Getting metadata for 14100292
Metadata and data for 14100292 already exists
Input table_id 14-10-0292-02
Getting metadata for 14100292
Metadata and data for 14100292 already exists
Input table_id 14-10-0310-01
Getting metadata for 14100310
Metadata and data for 14100310 already exists
Input table_id 14-10-0310-02
Getting metadata for 14100310
Metadata and data for 14100310 already exists
Input table_id 14-10-0320-01
Getting metadata for 14100320
Metadata and data for 14100320 already exists
Input table_id 14-10-0320-02
Getting metadata for 14100320
Metadata and data for 14100320 already exists
Input table_id 14-10-0342-01
Getting metadata for 14100342
Metadata and data for 14100342 already exists
Input table_id 14-10-0354-01
Getting metadata for 14100354
Metadata and data for 14100354 already exists
Input table_id 14-10-0355-01
Getting metadata for 14100355
Metadata and data for 14100355 already exists
Input table_id 14-10-0355-02
Getting metadata for 14100355
Metadata and data for 14100355 already exists
Input table_id 14-10-0373-01
Getting metadata for 14100373
Metadata and data for 14100373 already exists
Input table_id 14-10-0373-02
Getting metadata for 14100373
Metadata and data for 14100373 already exists
Input table_id 14-10-0374-01
Getting metadata for 14100374
Metadata and data for 14100374 already exists
Input table_id 14-10-0376-01
Getting metadata for 14100376
Metadata and data for 14100376 already exists
Input table_id 14-10-0397-01
Getting metadata for 14100397
Metadata and data for 14100397 already exists
Input table_id 14-10-0401-01
Getting metadata for 14100401
Metadata and data for 14100401 already exists
Input table_id 14-10-0421-01
Getting metadata for 14100421
Metadata and data for 14100421 already exists
Input table_id 14-10-0422-01
Getting metadata for 14100422
Metadata and data for 14100422 already exists
Input table_id 14-10-0423-01
Getting metadata for 14100423
Metadata and data for 14100423 already exists
Input table_id 14-10-0424-01
Getting metadata for 14100424
Metadata and data for 14100424 already exists
Input table_id 14-10-0425-01
Getting metadata for 14100425
Metadata and data for 14100425 already exists
Input table_id 14-10-0426-01
Getting metadata for 14100426
Metadata and data for 14100426 already exists
Input table_id 14-10-0427-01
Getting metadata for 14100427
Metadata and data for 14100427 already exists
Input table_id 14-10-0428-01
Getting metadata for 14100428
Metadata and data for 14100428 already exists
Input table_id 14-10-0445-01
Getting metadata for 14100445
Metadata and data for 14100445 already exists
Input table_id 14-10-0458-01
Getting metadata for 14100458
Metadata and data for 14100458 already exists
Input table_id 14-10-0459-01
Getting metadata for 14100459
Metadata and data for 14100459 already exists
Input table_id 14-10-0459-02
Getting metadata for 14100459
Metadata and data for 14100459 already exists
Input table_id 14-10-0460-01
Getting metadata for 14100460
Metadata and data for 14100460 already exists
Input table_id 14-10-0460-02
Getting metadata for 14100460
Metadata and data for 14100460 already exists
Input table_id 14-10-0462-01
Getting metadata for 14100462
Metadata and data for 14100462 already exists
Input table_id 14-10-0462-02
Getting metadata for 14100462
Metadata and data for 14100462 already exists
Input table_id 14-10-0465-01
Getting metadata for 14100465
Metadata and data for 14100465 already exists
Input table_id 14-10-0465-02
Getting metadata for 14100465
Metadata and data for 14100465 already exists
Input table_id 14-10-0465-03
Getting metadata for 14100465
Metadata and data for 14100465 already exists
Input table_id 14-10-0467-01
Getting metadata for 14100467
Metadata and data for 14100467 already exists
Input table_id 14-10-0467-02
Getting metadata for 14100467
Metadata and data for 14100467 already exists
Input table_id 14-10-0467-03
Getting metadata for 14100467
Metadata and data for 14100467 already exists
Input table_id 14-10-0471-01
Getting metadata for 14100471
Metadata and data for 14100471 already exists
Input table_id 14-10-0471-02
Getting metadata for 14100471
Metadata and data for 14100471 already exists
Input table_id 23-10-0081-01
Getting metadata for 23100081
Metadata and data for 23100081 already exists
Input table_id 23-10-0082-01
Getting metadata for 23100082
Metadata and data for 23100082 already exists
Input table_id 23-10-0083-01
Getting metadata for 23100083
Metadata and data for 23100083 already exists
Input table_id 23-10-0084-01
Getting metadata for 23100084
Metadata and data for 23100084 already exists
Input table_id 23-10-0086-01
Getting metadata for 23100086
Metadata and data for 23100086 already exists
Input table_id 23-10-0305-01
Getting metadata for 23100305
Metadata and data for 23100305 already exists
Input table_id 23-10-0306-01
Getting metadata for 23100306
Metadata and data for 23100306 already exists
Input table_id 27-10-0005-01
Getting metadata for 27100005
Metadata and data for 27100005 already exists
Input table_id 27-10-0006-01
Getting metadata for 27100006
Metadata and data for 27100006 already exists
Input table_id 27-10-0007-01
Getting metadata for 27100007
Metadata and data for 27100007 already exists
Input table_id 27-10-0008-01
Getting metadata for 27100008
Metadata and data for 27100008 already exists
Input table_id 27-10-0009-01
Getting metadata for 27100009
Metadata and data for 27100009 already exists
Input table_id 27-10-0010-01
Getting metadata for 27100010
Metadata and data for 27100010 already exists
Input table_id 27-10-0011-01
Getting metadata for 27100011
Metadata and data for 27100011 already exists
Input table_id 27-10-0012-01
Getting metadata for 27100012
Metadata and data for 27100012 already exists
Input table_id 27-10-0013-01
Getting metadata for 27100013
Metadata and data for 27100013 already exists
Input table_id 27-10-0014-01
Getting metadata for 27100014
Metadata and data for 27100014 already exists
Input table_id 27-10-0026-01
Getting metadata for 27100026
Metadata and data for 27100026 already exists
Input table_id 27-10-0027-01
Getting metadata for 27100027
Metadata and data for 27100027 already exists
Input table_id 27-10-0028-01
Getting metadata for 27100028
Metadata and data for 27100028 already exists
Input table_id 27-10-0029-01
Getting metadata for 27100029
Metadata and data for 27100029 already exists
Input table_id 10-10-0123-01
Getting metadata for 10100123
Metadata and data for 10100123 already exists
Input table_id 10-10-0132-01
Getting metadata for 10100132
Metadata and data for 10100132 already exists
Input table_id 10-10-0138-01
Getting metadata for 10100138
Metadata and data for 10100138 already exists
Input table_id 10-10-0143-01
Getting metadata for 10100143
Metadata and data for 10100143 already exists
Input table_id 10-10-0145-01
Getting metadata for 10100145
Metadata and data for 10100145 already exists
Input table_id 20-10-0080-01
Getting metadata for 20100080
Metadata and data for 20100080 already exists
Input table_id 36-10-0368-01
Getting metadata for 36100368
Metadata and data for 36100368 already exists
Input table_id 36-10-0581-01
Getting metadata for 36100581
Metadata and data for 36100581 already exists
Input table_id 36-10-0602-01
Getting metadata for 36100602
Metadata and data for 36100602 already exists
Input table_id 36-10-0605-01
Getting metadata for 36100605
Metadata and data for 36100605 already exists
Input table_id 36-10-0606-01
Getting metadata for 36100606
Metadata and data for 36100606 already exists
Input table_id 36-10-0621-01
Getting metadata for 36100621
Metadata and data for 36100621 already exists
Input table_id 36-10-0621-02
Getting metadata for 36100621
Metadata and data for 36100621 already exists
Input table_id 36-10-0622-01
Getting metadata for 36100622
Metadata and data for 36100622 already exists
Input table_id 36-10-0622-02
Getting metadata for 36100622
Metadata and data for 36100622 already exists
Input table_id 36-10-0643-01
Getting metadata for 36100643
Metadata and data for 36100643 already exists
Input table_id 36-10-0644-01
Getting metadata for 36100644
Metadata and data for 36100644 already exists
Input table_id 36-10-0673-01
Getting metadata for 36100673
Metadata and data for 36100673 already exists
Input table_id 46-10-0090-01
Getting metadata for 46100090
Metadata and data for 46100090 already exists
Input table_id 46-10-0091-01
Getting metadata for 46100091
Metadata and data for 46100091 already exists
Input table_id 22-10-0004-01
Getting metadata for 22100004
Metadata and data for 22100004 already exists
Input table_id 22-10-0005-01
Getting metadata for 22100005
Metadata and data for 22100005 already exists
Input table_id 22-10-0006-01
Getting metadata for 22100006

In [ ]:
def process_table(table_id):
    already_processed = len(cur.execute("SELECT * FROM processed WHERE table_id = ?", (table_id,)).fetchall())
    if already_processed:
        print(f"Already processed {table_id}")
        return
    
    print(f"Processing {table_id}")
    try:
        df = sc.table_to_df(table_id)[['DGUID']].drop_duplicates()
        df.columns = [x.lower() for x in df.columns]
        df['table_id'] = table_id
        df.to_sql(name='dguid_table_id', con=con, if_exists='append', index=False)
        values = (table_id, 'success')
        cur.execute("INSERT INTO processed VALUES(?, ?)", values)
        con.commit()
    except Exception as e:
        values = (table_id, str(e))
        print(f"Failed to process {table_id}")
        cur.execute("INSERT INTO processed VALUES(?, ?)", values)
        con.commit()